body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.App {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-width: 100%;
  margin: 0;
}

.AppContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.AppBackground {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
}

.CenterPanel {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  margin: 64px;
  max-width: 600px;
  /* border-width: 2px;
  border-color: aqua;
  border-style: dashed; */
}
